<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Bienvenido al App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Botón flotante para agregar un nuevo post -->
  <ion-fab vertical="botton" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-post']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Lista de publicaciones -->
  <ion-list>
    <ion-item-sliding *ngFor="let post of posts">
      <ion-item class="no-padding">
        <ion-label>
          <h2>{{ post.title }}</h2>
          <p>{{ post.details }}</p>
        </ion-label>
      </ion-item>

      <!-- Opciones al deslizar hacia la izquierda -->
      <ion-item-options side="start">
        <ion-item-option [routerLink]="['/edit-page', post.id]">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <!-- Opciones al deslizar hacia la derecha para eliminar -->
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deletePost(post.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>